.container-fluid {
  .row {
    margin: 0 auto;

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  @media (min-width: 1400px) {
    max-width: 1280px;
  }
}

section {
  @media (min-width: 1280px) {
    margin-bottom: 24px;
  }
}
