.region-header-main > div.site-name {
  color: $white;
}

.text-takeda {
  color: $takeda;
}

.bbg-right-border {
  padding-right: 1em;
  border-right: 1px solid $header-text-color;
}

.bbg-left-border {
  padding-left: 1em;
  border-left: 1px solid $header-text-color;
}
